[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
python-dotenv = "*"
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2 = "*"
marshmallow = "*"

[requires]
python_version = "3.7"
